@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    flex-direction: row;
    box-shadow: 23px;
    
}

  .logo{
    height: 70px;
    width: 70px;

    background-color: rgb(0, 0, 0);
    border-radius: 90px;
    margin-left: 130px;
    
}

.logo img{
    height: 100%;
    width: 100%;
}

.nav-link{
    color: rgb(204, 59, 214) ;
}

.divnome{
   display: flex;
   justify-content:center;
   margin-right: 150px;
  
}

.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 330px;
    margin: 40px;
    padding: 150px;
    
}

.containersb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre{
    display: flex;
    justify-content: center;
    background-color: #ececec;
    height: 270px;
    width: 65%;
    padding: 20px;
   
}
.text{
    align-items: center;    
    height: 270px;
    width: 470px;
    padding: 40px;
    
}
.dim{
     
    background-color: rgb(0, 0, 0);
    height: 270px;
    width: 270px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
   
}   

.dim img{
    display: flex;
    height: 270PX;
    width: 270PX;
    border-radius: 40px;
}

.separar{
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 20px;
    width: 80%;
    margin: 110px;
    
}

.containersk{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ececec;
  

}

.skls{
   display: flex;
   justify-content: center;
   align-items: center;
    height: 270px;
    width: 60%;
    margin: 30px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ececec;
    height: 55px;
    width: 75px;
    border-radius: 8px;
}

.icon img{
  
    height: 45px;
    width: 25px;
}

.containerpg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pgts{
    background-color: black;
    height: 260px;
    width: 30%;
    margin: 30px;
}
.pgts img{
    height: 260px;
    width:20px
}

.fala{
    background-color:#ececec ;
    height: 205px;
    width: 45%;
    padding: 35px;
}

.containerform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 45px;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ececec;
    height: 500px;
    width: 35%;
    margin: 30px;
    border-radius: 6px;
    box-shadow: 90px;

}


.contato{
    background-color: #ececec;
    height: 200px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 90px;

}


.rodape{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: black;
   height: 55px;
   width: 100%;
   box-shadow: 23px;

}
.txs{
    
justify-content:center;
align-items: center;
color: white;
}


#div_fixa {

    position:fixed; 
    margin:15px;
    margin-top: 300px;
    z-index:5000;
    bottom: 0px;
    }
    

.mt-0{
padding: 30px;
margin: 35px;
color: rgb(204, 59, 214);
}

h2{
    font-family: "Poppins", serif;
}

.destq{
    color: rgb(204, 59, 214);
    font-size: 60px;
}

.p{
    font-size:30px;
}